body{
    height: 100%;
    background-color: black;
    color: white;
}.hero{
    min-width: 990px;
    max-width: 1310px;
    margin-left: auto;
    margin-right: auto;
    min-height: 455px;
    max-height: 605px;
}
.text{color: white;}

.row:after {
    content: "";
    display: table;
    clear: both;
}.column{
    background-color: rgb(59, 4, 104);
    min-width: 100px;
    max-width: 100px;
    height: 97vh;
    float: left;
    border-radius: 5px;
}
.piece{
    text-align: center;
    border: 3px solid rgb(94, 62, 4);
    border-radius: 5px;
    height: 75px;
    cursor: pointer;
    background-color: rgb(94, 62, 4);
}
.another{
    margin-top: 12px;
    background-color: rgb(59, 4, 104);
}
.row-text{
    font-size: 20px;
    margin-top: 24px;
}
.page{
    display: none; 
    border: 1px solid rgb(46, 44, 44);
}
.mainPage{border: 1px solid rgb(46, 44, 44);}
.clientPage{
    border: 2px solid red;
    /* min-width: 1210px;
    max-width: 1210px; */
    height: 96vh;
    margin-left: 115px;
    border-radius: 5px;
    overflow-y: auto;
}

.blog{
    border: 3px solid grey;
    border-radius: 5px;
    min-width: 800px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}.blog-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 12px;
    margin-top: 6px;
}.blog-content{
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 16px;
    margin-left: 16px;
}.blog-date{
    color: grey;
    margin-bottom: 6px;
    margin-left: 700px;
}

.name{
    margin-top: 128px;
    font-size: 40px;
    text-align: center;
}
.links{
    text-align: center;
    margin-top: 64px;
}.buton{
    height: 40px;
    width: 110px;
    margin-left: 24px;
    margin-right: 24px;
    background-color: rgb(46, 44, 44);
    color: white;
    border: 1px solid white;
    outline: none;
    border-radius: 10px;
    transition: 0.3s;
}
.instagram:hover{background-color: rgb(241, 94, 119); width: 130px; height: 50px; font-size: 16px;}
.github:hover{background-color: white; width: 130px; height: 50px; font-size: 16px; color: black; border: none;}
.linkedin:hover{background-color: rgb(5, 55, 71); width: 130px; height: 50px; font-size: 16px;}

.space{margin-right: 16px;}

.chatPage{text-align: center;}
.commentPage{text-align: center;}
.codePage{text-align: center;}
.remain{margin-top: 256px;}