doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='http://localhost:3000/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    title Admin Page
    style
      include admin.css
    script
      include admin.js
  body
    .firstPage
      .top-box
        h1.hero-title Admin Page
        hr.hr
      .butonHome
        button.writeBlogButton Blog yaz !
    .secondPage
      .top-box
        h1.hero-title Blog
        hr.hr
      .BlogFormHome
        .one
          form#blogForm
            .titleFormHome
              .formTitle
                b  Title 
              input#title(type='text', autocomplete='off')
            .dateFormHome
              .formDate
                b  Date 
              input#date(type='text', autocomplete='off')
          .ContentButonHome
            button.ContentButon İçerik için devam et
      .ContentFormHome
        .two
          form#ContentForm
            .contentTitle
              .formTitle
                b  Content 
              input#content(type='text', autocomplete='off')
        .PreviewButonHome
          button.PreviewButon Önizle
      .PreviewPage
        .PreviewBlogTitle
        br
        .PreviewBlogContent
        br
        .PreviewBlogDate
      .SaveButtonHome
        button.SaveButton Kaydet
      .messages
        .true_blog_save Başarıyla kayıt edildi
        .wrong_blog_save Kaydedilirken bir hatayla karşılaşıldı