doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='http://localhost:3000/socket.io/socket.io.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    title Home Page
    style
      include homePage.css
    script
      include homePage.js
  body
    .Blogs
      // Blogs are here