.AdminBlogPage{
    display: none;
}

.hr{
    width: 300px;
}.lınk{
    cursor: pointer;
    color: blue;
}

.box-top{
    min-height: 300px;
    text-align: center;
}.text{
    font-size: 20px;
    margin-top: 24px;
}.new-blog{
    text-align: center;
}