body{
    background-color: black;
    color: white;
}
.space{ color: black; }
.topHR{ width: 1000px; }

.buttonsHome{
    margin-left: 75px;
}.buton{
    padding: 8px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
}.dark{
    color: black;
    margin-right: 5px;
}.light{
    color: white;
    margin-left: 5px;
}


.top-information{
    height: 100px;
    vertical-align: middle;
    display: table-cell;
}.Name{
    font-size: 25px;
    margin-left: 250px;
}.link{
    text-decoration: none;
    font-size: 20px;
}.Instagram{
    color: rgb(247, 99, 123);
    margin-left: 60px;
}.Twitter{
    color: rgb(79, 134, 252);
    margin-left: 60px;
}.Linkedin{
    color: rgb(79, 134, 252);
    margin-left: 60px;
}.GitHub{
    color: white;
    margin-left: 60px;
}.GitHubİcon{
    border-radius: 10px;
}

.BlogHome{
    border: 2px solid grey;
    width: 650px;
    min-height: 150px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.BlogTitle{
    margin-top: 13px;
    font-size: 30px;
    text-align: center;
}.BlogContent{
    margin-top: 22px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}.BlogDate{
    font-size: 16px;
    color: rgb(163, 155, 155);
    margin-top: 26px;
    margin-left: 564px;
    margin-bottom: 10px;
}